extends layout

block content
    h1= title
    span.label no existe 1 rayo zapato zanahorea karaoke Whisky software wikipedia jinete japon jabon facil frio rayo yogur habil hablar galleta gigante gentil valiente vehiculo vegetariano quebrado quemado botella bandido brazil baile patata patria palabra marcial maqueta manantial caballero temperatura tercero ubicar urgente delfin delgado danza lectura laboratorio ilusivo inadvertencia ilimitado nacido narrado racionalidad radiactivo racismo satelite septiembre obstruir oscilatorio elogioso embajada emblema abundancia kiwi

    p
    a(href='#') #{hero}
    ul#facts
    label(for="new-fact") escriba la frase de arriba:
    textarea(class="clickme", name="description", cols="100", rows="3", placeholder="Escribe el texto de arriba en este cuadro")#new-fact
    a(id='add-new-fact', href='#') enviar
    div#cnt
    div#time
    div#ult
    div#especial
    div#keydiferentes
    div#keyMismos
    div#keyCadaTecla
    div#keyTeclasDerecho
    div#keyTeclasIzquierdo
    div#keyTeclasDerechoAdj
    div#keyTeclasIzquierdoAdj
 